{php include wl_template('common/header');}
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#tab_basic">模板消息</a></li>
</ul>
<style>
.select2{width: 100%;}
.select2-container .select2-choice .select2-arrow b{background-color: #eeeeee}
.w200{width: 200px;}
.w60{width: 60px;text-align: right;}
.form-horizontal .form-group{margin-left: 0;margin-right: 0;}
.table> thead> tr> th{border: none;}
.is_default{display: table-block;}
.is_advanced{display: none;}
#openids_selector .input-group{width: 100%;}
.is_sms{display: table-block;}
.layui-anim-upbit{-webkit-animation-name: layui-upbit;animation-name: layui-upbit;}
.layui-anim{-webkit-animation-duration: .3s;animation-duration: .3s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.layui-form-selected ul{display: block;}
.layui-input-block, .layui-input-inline{position: relative;}
.layui-form-select ul{display: none;position: absolute;left: 0;top: 37px;margin-bottom: 50px;padding: 0;z-index: 999;width: 100%;border: 1px solid #d2d2d2;max-height: 300px;overflow-y: auto;background-color: #fff;border-radius: 2px;box-shadow: 0 2px 4px rgba(0, 0, 0, .12);box-sizing: border-box;}
.layui-form-select{position: absolute;margin-top: -18px;display: none;}
</style>
<div class="main">
    <form action="" method="post" class="form-horizontal layui-form" id="setting-form">
        <div class="panel panel-default">
            <div class="panel-heading">模板设置</div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_param1">
                        <div class="page-content" style="display: block;">
                            <div class="alert alert-info">
                                <b>注意：</b>
                                <p>请将公众平台模板消息所在行业选择为： IT科技/互联网|电子商务</p>
                                <p>需手动填写模板ID</p>
                            </div>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th style="">标题</th>
                                        <th class="" style="">公众平台模板库编号</th>
                                        <th class="" style="padding-left: 20px;">模板消息</th>
                                        <th class="is_default"></th>
                                        <th class='' style="padding-left:20px;">短信消息</th>
                                        <th class="" style="text-align: right;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>订单支付成功</td>
                                        <td class="is_default">TM00015</td>
                                        <td class="">
                                            <input type="text" placeholder="请输入模板ID" name="notice[submitOrder]" value="{$notice['submitOrder']}" class="layui-input" /></td>
                                        <td style="" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="notice[submitOrderSwitch]" lay-skin="switch" {if $notice['submitOrderSwitch']}checked="true" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                        	
                                            <select name="message[submitOrder]" class="s1" style="width: 100%;" id="submitOrder">
                                                <option value="">从短信库中选择</option>
                                                 {loop $sms $s}
                                                	<option value="{$s['id']}" {if $s['id']==$message['submitOrder']}selected="selected"{/if}>{$s['name']}</option>
                                                 {/loop}
                                            </select>
                                        </td>
                                        <td style="text-align: right;" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="message[submitOrderSwitch]" {if $message['submitOrderSwitch']}checked="checked" {/if} lay-skin="switch">
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>抢购成功通知</td>
                                        <td class="is_default">OPENTM400341301</td>
                                        <td class="">
                                            <input type="text" placeholder="请输入模板ID" name="notice[RushSuccess]" class="layui-input" value="{$notice['RushSuccess']}" /></td>
                                        <td style="" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="notice[RushSuccessSwitch]" lay-skin="switch"   {if $notice['RushSuccessSwitch']}checked="checked"{/if} />
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <select name="message[RushSuccess]" class="s2" style='width: 100%;'>
                                                <option value="">从短信库中选择</option>
                                                {loop $sms $s}
                                                	<option value="{$s['id']}" {if $s['id']==$message['RushSuccess']}selected="selected"{/if}>{$s['name']}</option>
                                                 {/loop}
                                            </select>
                                        </td>
                                        <td style="text-align: right;" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="message[RushSuccessSwitch]" lay-skin="switch" {if $message['RushSuccessSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>成为会员通知</td>
                                        <td class="is_default">TM00007</td>
                                        <td class="">
                                            <input type="text" placeholder="请输入模板ID" name="notice[Vip]" class="layui-input" value="{$notice['Vip']}"/></td>
                                        <td style="" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="notice[VipSwitch]" lay-skin="switch"  {if $notice['VipSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <select name="message[Vip]" class="s3" style="width: 100%;">
                                                <option value="">从短信库中选择</option>
                                                {loop $sms $s}
                                                	<option value="{$s['id']}" {if $s['id']==$message['Vip']}selected="selected"{/if}>{$s['name']}</option>
                                                 {/loop}
                                            </select>
                                        </td>
                                        <td style="text-align: right;" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="message[VipSwitch]" lay-skin="switch" {if $message['VipSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>手机绑定成功通知</td>
                                        <td class="is_default">OPENTM204032749</td>
                                        <td class="">
                                            <input type="text" placeholder="请输入模板ID" name="notice[Mobile]" class="layui-input" value="{$notice['Mobile']}"/></td>
                                        <td style="" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="notice[MobileSwitch]" lay-skin="switch"  {if $notice['MobileSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <select name="message[Mobile]" class="s3" style="width: 100%;">
                                                <option value="">从短信库中选择</option>
                                                {loop $sms $s}
                                                	<option value="{$s['id']}" {if $s['id']==$message['Mobile']}selected="selected"{/if}>{$s['name']}</option>
                                                {/loop}
                                            </select>
                                        </td>
                                        <td style="text-align: right;" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="message[MobileSwitch]" lay-skin="switch" {if $message['MobileSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>参与活动即将开始提醒</td>
                                        <td class="is_default">OPENTM229111864</td>
                                        <td class="">
                                            <input type="text" placeholder="请输入模板ID" name="notice[follow]" class="layui-input" value="{$notice['follow']}"/></td>
                                        <td style="" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="notice[followSwitch]" lay-skin="switch"  {if $notice['followSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <select name="message[follow]" class="s3" style="width: 100%;">
                                                <option value="">从短信库中选择</option>
                                                {loop $sms $s}
                                                	<option value="{$s['id']}" {if $s['id']==$message['follow']}selected="selected"{/if}>{$s['name']}</option>
                                                {/loop}
                                            </select>
                                        </td>
                                        <td style="text-align: right;" class="is_default">
                                            <div class="layui-form-item">
                                                <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">开关</label>
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
                                                    <input type="checkbox" class="noticekg" name="message[followSwitch]" lay-skin="switch" {if $message['followSwitch']}checked="checked" {/if}>
                                                    <div class="layui-unselect layui-form-switch">
                                                        <i>
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" /></div>
    </form>
</div>
<script>
	$(function() {
		window.optionchanged = false;
		$('#myTab a').click(function(e) {
			e.preventDefault(); //阻止a链接的跳转行为
			$(this).tab('show'); //显示当前选中的链接及关联的content
		})
	});  
	
	$(document).ready(function() {
        $(".s1").select2();
    });
	  $(document).ready(function() {
        $(".s2").select2();
    });
    
      $(document).ready(function() {
        $(".s3").select2();
    });

var flag=1;
var msg_all=document.getElementById('msg_all');
var msg1=document.getElementById('msg1');
var msg2=document.getElementById('msg2');
var msg3=document.getElementById('msg3');

layui.use('form', function(){
  var form = layui.form();
 
 
  
  //各种基于事件的操作，下面会有进一步介绍
  form.on('switch(msg_all)', function(data){
  console.log(data);
  console.log(data.elem); //得到checkbox原始DOM对象
  console.log(data.elem.checked); //开关是否开启，true或者false
  console.log(data.value); //开关value值，也可以通过data.elem.value得到
});  
});
 layui.use();
</script>

{php include wl_template('common/footer');}