{php include wl_template('common/header');}
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#tab_share">分享设置</a></li>

</ul>
<div class="main">
	<form action="" method="post" class="layui-form" id="setting-form">
		<div class="panel panel-default">
			<div class="panel-heading">系统设置</div>
			<div class="panel-body">
				<div class="tab-content">
					
						<div class="layui-form-item">
		    				<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">分享标题<span class="must-fill">*</span></label>
		    				<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      				<input type="text" name="share[share_title]" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$settings['share_title']}" >
		    				</div>
		  				</div>
		  				<div class="layui-form-item">
		    				<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">分享图片</label>
		    				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      					{php echo tpl_form_field_image('share[share_image]', $settings['share_image'])}
		    				</div>
		  				</div>
		  				<div class="layui-form-item">
		    				<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">分享描述</label>
		    				<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      				<input type="text" name="share[share_desc]" class="layui-input" value="{$settings['share_desc']}" >
		    				</div>
		  				</div>
				
	
						<div class="layui-form-item">
		    				<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">关注链接</label>
		    				<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      				<input type="text" name="share[gz_url]"   placeholder="用户未关注的引导页面，建议使用短链接" class="layui-input" value="{$settings['gz_url']}" >
		    				</div>
		  				</div>
		  				<div class="layui-form-item">
		    				<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">关注二维码</label>
		    				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      					{php echo tpl_form_field_image('share[gz_image]', $settings['gz_image'])}
		      					<span class="help-block">有二维码时，优先弹出关注二维码</span>
		    				</div>
		  				</div>
				
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
$(function () {
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
</script>
{php include wl_template('common/footer');}