{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li ><a href="{php echo web_url('dashboard/adv/index')}">幻灯片</a></li>
	<li {if empty($adv['id'])}class="active"{/if}><a href="{php echo web_url('dashboard/adv/edit')}">添加幻灯片</a></li>
	{if !empty($adv['id'])}
	<li class="active"><a href="#">编辑幻灯片</a></li>
	{/if}
</ul>
<div class="main">
	<form action="" method="post" class="layui-form" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$adv['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				幻灯片设置
			</div>
			<div class="panel-body">
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">排序</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="adv[displayorder]"   placeholder="默认排序为0" class="layui-input" value="{$adv['displayorder']}" >
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">幻灯片标题<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="adv[advname]" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$adv['advname']}" >
		    		</div>
		  		</div>
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">幻灯片图片<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      			{php echo tpl_form_field_image('adv[thumb]', $adv['thumb'])}
		      			<span class="help-block">建议图片大小300*400</span>
		    		</div>
		  		</div>
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">幻灯片连接</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="adv[link]" class="layui-input" value="{$adv['link']}" >
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">是否显示</label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      			<input type="radio" name='enabled' value='1' {if $adv['enabled']==1}checked{/if} title="是">
      					<input type="radio" name='enabled' value='0' {if $adv['enabled']==0}checked{/if} title="否">
		    		</div>
		  		</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
	$('input[name="adv[thumb]"]').attr('required','required');
</script>
{php include wl_template('common/footer');}