{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li ><a href="{php echo web_url('dashboard/banner/index')}">广告位</a></li>
	<li {if empty($banner['id'])}class="active"{/if}><a href="{php echo web_url('dashboard/banner/edit')}">添加广告</a></li>
	{if !empty($banner['id'])}
	<li class="active"><a href="#">编辑广告</a></li>
	{/if}
</ul>
<div class="main">
	<form action="" method="post" class="layui-form" enctype="multipart/form-data" >
		<input type="hidden" name="id" value="{$banner['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				广告位设置
			</div>
			<div class="panel-body">
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">排序</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="banner[displayorder]"  placeholder="默认排序为0" autocomplete="off" class="layui-input" value="{$banner['displayorder']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">广告位标题<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="banner[name]" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$banner['name']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">广告位图片<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      			{php echo tpl_form_field_image('banner[thumb]', $banner['thumb'])}
		      			<span class="help-block">建议图片大小300*400</span>
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">广告位连接</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="banner[link]"  autocomplete="off" class="layui-input" value="{$banner['link']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">是否显示</label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      			<input type="radio" name='enabled' value='1' {if $adv['enabled']==1}checked{/if} title="是">
      					<input type="radio" name='enabled' value='0' {if $adv['enabled']==0}checked{/if} title="否">
		    		</div>
		  		</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
	$('input[name="banner[thumb]"]').attr('required','required');
</script>
{php include wl_template('common/footer');}