{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li {if $_GPC['type']=='moneyRecord'}class="active"{/if}><a href="{php echo web_url('store/merchant/account', array('id'=>$id,'type'=>'moneyRecord'));}">金额变更</a></li>
	<li {if $_GPC['type']=='settlementRecord'}class="active"{/if}><a href="{php echo web_url('store/merchant/account', array('id'=>$id,'type'=>'settlementRecord'));}">结算记录</a></li>
</ul>
{if $_GPC['type']=='settlementRecord'}
<div class="main">
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th class="col-sm-2">商户信息</th>
					<th class="col-sm-2">申请金额</th>
					<th class="col-sm-2">佣金百分比</th>
					<th class="col-sm-2">提现方式</th>
					<th class="col-sm-2">申请时间</th>
					<th class="col-sm-2">操作时间</th>
					<th class="col-sm-3">状态</th>
					<th class="col-sm-7 text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list  $merchant}
				<tr>
					<td>{$m['storename']}</td>
					<td>{$merchant['sapplymoney']}</td>
					<td>{$merchant['spercent']}%</td>
					<td>{if $merchant['settletype']==1}<label class="label label-default label-success">手动处理{elseif $merchant['settletype']==2}<label class="label label-default label-info">微信零钱{else}<label class="label label-default">未结算{/if}</label>
					</td>
					<td>{php echo date('Y-m-d',$merchant['applytime'])}<br>{php echo date('H:i:s',$merchant['applytime'])}</td>
					<td>{php echo date('Y-m-d',$merchant['updatetime'])}<br>{php echo date('H:i:s',$merchant['updatetime'])}</td>
					<td>{if $merchant['status']==1}
						<label class="label label-default label-default">代理审核中</label>
						{elseif $merchant['status']==2}
						<label class="label label-default label-info">系统审核中</label>
						{elseif $merchant['status']==3}
						<label class="label label-default label-warning">系统审核通过，待结算</label>
						{elseif $merchant['status']==4}
						<label class="label label-default label-danger">已结算给代理</label>
						{elseif $merchant['status']==5}
						<label class="label label-default label-success">已结算到商家</label>
						{/if}
					<td style="text-align: center;">
						<a  href="{php echo web_url('finace/wlCash/detail', array( 'id'=>$merchant['id']));}" title="详情" class="btn btn-default btn-sm">详情</a> 
						{if $merchant['status']==1}
						-
                	 	<a   href="{php echo web_url('finace/wlCash/cashApply', array( 'id'=>$merchant['id'],'type'=>'submit'));}" title="确认并打款" class="btn btn-default btn-sm" onclick="return confirm('确认？');return false;">审核通过并提交到系统</a> 
						{/if}
						{if $merchant['status']==4}
						-
                	 	<a   href="{php echo web_url('finace/wlCash/settlement', array( 'id'=>$merchant['id'],'type'=>'settlement'));}" title="去结算" class="btn btn-default btn-sm" >去结算</a> 
						{/if}
					</td>
				</tr>
				{/loop}
			</tbody>
			</table>
		</div>
	</div>
	{$pager}
</div>

{elseif $_GPC['type'] == 'moneyRecord'}
<div class="main">
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				{loop $moneyRecord $item1}
					<tr>
						<td>{if !empty($item1['order'])}
							订单支付 &nbsp;ID：<a href="#">{$item1['orderid']}</a><br>
							{$item1['order']['name']}
							{else}商家结算{/if}
						</td>
						<td>{if $item1['type']==1}支付成功，总金额
							{elseif $item1['type']==2 || $item['type']==9}发货(核销)成功，可结算金额
							{elseif $item1['type']==3}取消发货(核销)，可结算金额
							{elseif $item1['type']==4}商家结算，可结算金额
							{elseif $item1['type']==5}退款，总金额
							{/if}&nbsp;&nbsp;  <span style="color: #F26C4F;font-size: 20px;"><b>{if $item1['money']>0}+{/if}</b>{$item1['money']}</span>
							
						</td>
						<td>{$item1['detail']}</td>
						<td>{php echo date("Y-m-d H:i:s",$item1['createtime']);}</td>
					</tr>
					{/loop}
			</table>
		</div>
	</div>
	{$pager}
</div>
{/if}
{php include wl_template('common/footer');}
