{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="#">添加商户</a></li>
</ul>
<div class="clearfix">
	<form action="" method="post" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default" id="step1">
			<div class="panel-heading">
				商铺信息
			</div>
			<div class="panel-body">
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">店铺名称<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[storename]" required  lay-verify="required"  autocomplete="off" class="layui-input">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">联系人名<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[name]" required  lay-verify="required"  autocomplete="off" class="layui-input">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">联系电话<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[mobile]" required  lay-verify="phone"  autocomplete="off" class="layui-input">
		    		</div>
		  		</div>
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">服务地区<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<div class="row row-fix js-address-selector">
							<div class="col-md-3">
								<select name="province" class="form-control tpl-province">
									
								</select>
							</div>
							<div class="col-md-3">
								<select name="city" class="form-control tpl-city">
								
								</select>
							</div>
						</div>
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">选择组别<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<select name="register[groupid]" lay-verify="required"  class="form-control tpl-province">
        					{loop $allgroup $groups}
        					<option value="{$groups['id']}">{$groups['name']}</option>
        					{/loop}
      					</select>
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
                    <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">选择微信ID<span class="must-fill">*</span></label>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
                        <input type='hidden' id='openid' name='openid'/>
                        <div class='input-group'>
                            <input type="text" name="nickname" required  lay-verify="required"  autocomplete="off" maxlength="30" value="{if !empty($saler)}{$saler['nickname']}{/if}" id="saler" class="form-control" readonly />
                            <div class='input-group-btn'>
                                <button class="btn btn-default" type="button" onclick="popwin = $('#modal-module-menus').modal();">选择微信ID</button>
                            </div>
                        </div>
          
                        <div id="modal-module-menus"  class="modal fade" tabindex="-1">
                            <div class="modal-dialog" style='width: 660px;'>
                                <div class="modal-content">
                                    <div class="modal-header"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3>选择微信ID</h3></div>
                                    <div class="modal-body" >
                                        <div class="row">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="keyword" value="" id="search-kwd" placeholder="请输入微信ID" />
                                                <span class='input-group-btn'><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
                                            </div>
                                        </div>
                                        <div id="module-menus" style="padding-top:5px;"></div>
                                    </div>
                                    <div class="modal-footer"><a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
   				</div>
		  		<div class="form-group col-sm-12">
					<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</div>
	</form>
</div>
<script language='javascript'>
    function search_members() {
       	if( $.trim($('#search-kwd').val())==''){
            Tip.focus('#search-kwd','请输入关键词');
            return;
        }

		$("#module-menus").html("正在搜索....")
		$.get('{php echo web_url('store/register/add',array('op'=>'selectnickname'))}', {
			keyword: $.trim($('#search-kwd').val())
		}, function(dat){
			$('#module-menus').html(dat);
		});
	}
    function select_member(o) {
		$("#openid").val(o.openid);
		$("#saler").val(o.nickname);
		$("#avatar").attr('src', o.avatar);
		$(".close").click();
	}
	
	require(["jquery", "{$_W['siteroot']}addons/weliam_shiftcar/web/resource/js/district.min.js"], function($, dis){
		$(".js-address-selector").each(function(){
			var elements = {};
			elements.province = $(this).find(".tpl-province")[0];
			elements.city = $(this).find(".tpl-city")[0];
			elements.district = $(this).find(".tpl-district")[0];
			var values = {};
			values.province = $(elements.province).data("value");
			values.city = $(elements.city).data("value");
			values.district = $(elements.district).data("value");
			dis.render(elements, values, {withTitle: true, code : false}, {$allArea});
		});
	});
</script>
{php include wl_template('common/footer');}