{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li  class="active" ><a href="#">商户列表</a></li>
</ul>
<div class="main panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width:150px;text-align:center;">商户名称/用户昵称</th>
					<th style="width:150px;text-align:center;">联系人</th>
					<th style="width:150px; text-align:center;">申请时间</th>
					<th style="width:70px; text-align:center;">申请状态</th>
					<th style="width:180px; text-align:center">操作</th>
				</tr>
			</thead>
			<tbody >
				{loop $registers $regiseter}
				<tr >
					<td class="text-center">
						{$regiseter['storedata']['storename']}
						<br>
						<label class="label label-default label-info">{$regiseter['member']['nickname']}</label>
					</td>
					<td class="text-center">
						{$regiseter['name']}
						<br>
						<label class="label label-default label-info">{$regiseter['mobile']}</label>
					</td>
					<td class="text-center">
						{php echo date('Y年m月d日',$regiseter['createtime'])}
						<br>
						{php echo date('H时i分',$regiseter['createtime'])}
					</td>
					<td class="text-center">
						{if $regiseter['status']==1}<label class="label label-info">待审核</label>
						{elseif $regiseter['status']==0}<label class="label label-warning">已驳回</label>
						{/if}
					</td>
					<td class="text-center">
						<a href="javascript:passById({$regiseter['storedata']['id']},{$regiseter['id']});"class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="通过">
							通过
						</a>
						-
						<a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-reject{$regiseter['id']}" data-placement="top" title="驳回">
							驳回
						</a>
					</td>
				</tr>
				<div id="modal-reject{$regiseter['id']}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:600px;margin:0px auto;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
								<h3>驳回原因</h3>
							</div>
							<div class="modal-body">
								<textarea name="rejectCommon" cols="50" id="reject{$regiseter['id']}" class="form-control" value="" style="margin: 0px -1px 0px 0px; height: 233px; width: 570px;"></textarea>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary span2" onclick="rejectById({$regiseter['storedata']['id']},{$regiseter['id']})">保存</button>
								<a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a>
							</div>
						</div>
					</div>
				</div>
				{/loop}
			</tbody>
		</table>
	</div>
	{$pager}
</div>
<script>
	//驳回申请
	function rejectById(id,uid){
		var rejectcomm = $('#reject'+id).val();
		if(rejectcomm==''){
			layer.msg('请填写驳回原因', {icon: 5});
			return false;
		}
		location.href = "{php echo web_url('store/register/edit')}&id="+id+"&uid="+uid+"&reject="+rejectcomm+"&op=reject";
	}
	//通过申请
	function passById(id,uid){
		layer.open({
		  	title: [
		    	'审核',
		    	'background-color:#23c6c8; color:#fff;'
		  	]
		  	,anim: 'up'
		  	,content: '确认通过'
		  	,btn: ['确认', '取消']
		  	,yes:function(index){
		  		location.href = "{php echo web_url('store/register/edit')}&id="+id+"&uid="+uid+"&op=pass";
		  	}
		});
	}
</script>
{php include wl_template('common/footer');}