{php include wl_template('common/header');}
<link rel="stylesheet" type="text/css" href="{URL_WEB_COPM}clockpicker/dist/bootstrap-clockpicker.min.css">
<script type="text/javascript" src="{URL_WEB_COPM}clockpicker/dist/bootstrap-clockpicker.min.js"></script>
{if !empty($_GPC['id'])}
<div class="main panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover">
			<tr >
				<td><img class="scrollLoading" src="{IMAGE_PIXEL}" data-url="{php echo tomedia($register['logo'])}" onerror="this.src='{IMAGE_NOPIC_SMALL}'" height="50" width="50"/>
				{$register['storename']}
				</td>
				<td class="text-center">
					{$register['realname']}
					<br>
					<label class="label label-default label-info">{$register['tel']}</label>
				</td>
				<td class="text-center">
					<label class="label label-default label-success">{$register['onelevelname']}</label>
					<label class="label label-default label-danger">{$register['twolevelname']}</label>
					
				</td>
				<td class="text-center">
					{php echo date('Y年m月d日',$register['createtime'])}<br>
					{php echo date('Y年m月d日',$register['endtime'])}
				</td>
				<td class="text-center">
					{if $register['enabled']==0}<label class="label label-info">待入住</label>
					{elseif $register['enabled']==1}<label class="label label-success">入住中</label>
					{elseif $register['enabled']==2}<label class="label label-warning">暂停中</label>
					{elseif $register['enabled']==3}<label class="label label-danger">已到期</label>
					{elseif $register['enabled']==4}<label class="label label-danger">可彻底删除</label>
					{/if}
				</td>
			</tr>
		</table>
	</div>
</div>
{/if}
<ul class="nav nav-tabs">
	<li {if $_GPC['do']=='edit'} class="active"{/if} ><a href="{php echo web_url('store/merchant/edit',array('id'=>$register['id']))}">商户信息</a></li>
	<!--<li  {if $_GPC['do']=='keeper'}class="active"{/if} ><a href="{php echo web_url('store/merchant/keeper',array('id'=>$register['id']))}">商户管理员</a></li>
	<li  {if $_GPC['do']=='comment'}class="active"{/if} ><a href="{php echo web_url('store/merchant/comment',array('id'=>$register['id']))}">商户评论留言</a></li>-->
</ul>
{if $_GPC['do']=='edit'}
<div class="clearfix">
	<form action="" method="post" class="" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">店铺信息</div>
			<div class="panel-body">
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">店铺名称<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[storename]" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$register['storename']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">店铺电话<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[mobile]"  autocomplete="off" class="layui-input" value="{$register['mobile']}" lay-verify="required">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
				    <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">佣金百分比<span class="must-fill">*</span></label>
				    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-inline">
				      <input type="number" name="register[percent]" placeholder="请输入佣金百分比" autocomplete="off"  value="{$register['percent']}" class="layui-input">
				    </div>
				    <div class="layui-form-mid layui-word-aux">请务必填写数字</div>
				  </div>
		  		<div class="layui-form-item">
					<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">营业时间<span class="must-fill">*</span></label>
					<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
						<div class="input-group clockpicker" data-placement="left" data-align="top" id='time_start' data-autoclose="true" style="text-align: center;width: 30%;float: left;">
						    <input type="text" name="registerdate[startTime]" class="form-control" value="{$register['storehours']['startTime']}">
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-time"></span>
						    </span>
						</div>
						<script type="text/javascript">
							$('#time_start').clockpicker();
						</script>
				
						<div class="input-group clockpicker" data-placement="left" data-align="top" id='time_end' data-autoclose="true" style="text-align: center;width: 30%;margin-left: 15%;float: left;">
						    <input type="text" name="registerdate[endTime]" class="form-control" value="{$register['storehours']['endTime']}">
						    <span class="input-group-addon">
						        <span class="glyphicon glyphicon-time"></span>
						    </span>
						</div>
						<script type="text/javascript">
							$('#time_end').clockpicker();
						</script>
					</div>
				</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">店铺类别<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		    			{php echo tpl_form_field_category_2level('category', $parent, $children, $register['onelevel'], $register['twolevel'])}
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">商铺logo<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      			{php echo tpl_form_field_image('register[logo]', $register['logo'])}
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">店铺简介</label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		    			{php echo tpl_ueditor('register[introduction]', $register['introduction']);}
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">所在区域<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<div class="row row-fix js-address-selector">
							<div class="col-md-3">
								<select name="register[provinceid]" class="form-control tpl-province" required data-value="{$register['provinceid']}">
									
								</select>
							</div>
							<div class="col-md-3">
								<select name="register[areaid]" class="form-control tpl-city" required data-value="{$register['areaid']}">
								
								</select>
							</div>
							<div class="col-md-3">
								<select name="register[distid]" data-value="{$register['distid']}" class="form-control tpl-district">
								</select>
							</div>
						</div>
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">店铺地址<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[address]" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$register['address']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">地理位置</label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		      			{php echo tpl_form_field_coordinate("register[location]",array('lng'=>$register['location']['lng'],'lat'=>$register['location']['lat']))}
		    		</div>
		  		</div>
		  	</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">账号管理</div>
			<div class="panel-body">
	  			<!--<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">账号</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="user[account]"  lay-verify="required"  autocomplete="off" class="layui-input" value="{$register['member']['account']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">密码</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="password" name="user[password]"  lay-verify="required"  autocomplete="off" class="layui-input" value="{$register['member']['password']}">
		    		</div>
		  		</div>-->
		  		<div class="layui-form-item">
                    <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">选择微信账号</label>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
                        <input type='hidden' id='openid' name='openid' value="{$member['openid']}" />
                        <input type='hidden' name='uid' value="{$register['member']['id']}" />
                        <div class='input-group'>
                            <input type="text" name="nickname" maxlength="30" value="{$member['nickname']}" id="saler" class="form-control" readonly />
                            <div class='input-group-btn'>
                                <button class="btn btn-default" type="button" onclick="popwin = $('#modal-module-menus').modal();">选择微信账号</button>
                            </div>
                        </div>
	          			<div id="modal-module-menus"  class="modal fade" tabindex="-1">
	                        <div class="modal-dialog" style='width: 660px;'>
	                            <div class="modal-content">
	                                <div class="modal-header"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3>选择微信账号</h3></div>
	                                <div class="modal-body" >
	                                    <div class="row">
	                                        <div class="input-group">
	                                            <input type="text" class="form-control" name="keyword" value="" id="search-kwd" placeholder="请输入微信昵称" />
	                                            <span class='input-group-btn'><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
	                                        </div>
	                                    </div>
	                                    <div id="module-menus" style="padding-top:5px;">
	                                    </div>
	                                </div>
	                                	<div class="modal-footer"><a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a>
	                                	</div>
	                            </div>
	                        </div>
	                    </div>
                	</div>
   				</div>
		  	</div>
		</div>
		<div class="panel panel-default layui-form">
			<div class="panel-heading">其他信息</div>
			<div class="panel-body">
	  			<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">联系人</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[realname]"  lay-verify="required" autocomplete="off" class="layui-input" value="{$register['realname']}">
		    		</div>
		  		</div>
		   		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">联系电话</label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="register[tel]"  lay-verify="phone"  autocomplete="off" class="layui-input" value="{$register['tel']}">
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">商户组<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<select name="register[groupid]" lay-verify="required"  class="form-control tpl-province">
        					{loop $allgroup $groups}
        					<option value="{$groups['id']}" {if $register['groupid'] == $groups['id']}selected{/if}>{$groups['name']}</option>
        					{/loop}
      					</select>
		    		</div>
	  			</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">到期时间<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			{php echo tpl_form_field_date('register[endtime]',$register['endtime'])}
		    		</div>
		  		</div>
		  		<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">商户状态</label>
		    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
		    			<input type="radio" name="enabled" value="0" title="待入住" {if $register['enabled']==0}checked{/if}>
      					<input type="radio" name="enabled" value="1" title="入住中" {if $register['enabled']==1}checked{/if}>
      					<input type="radio" name="enabled" value="2" title="暂停中" {if $register['enabled']==2}checked{/if}>
      					{if $register['enabled']==4}<input type="radio" name="enabled" value="4" title="已删除"checked>{/if}
      					
		    		</div>
	  			</div>
		  	</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
	require(["jquery", "{$_W['siteroot']}addons/weliam_merchant/web/resource/js/district.min.js"], function($, dis){
		$(".js-address-selector").each(function(){
			var elements = {};
			elements.province = $(this).find(".tpl-province")[0];
			elements.city = $(this).find(".tpl-city")[0];
			elements.district = $(this).find(".tpl-district")[0];
			var values = {};
			values.province = $(elements.province).data("value");
			values.city = $(elements.city).data("value");
			values.district = $(elements.district).data("value");
			dis.render(elements, values, {withTitle: true, code : true}, {$allArea});
		});
	});
</script>
{/if}
{if $_GPC['do']=='keeper'}
<input type="submit" name="submit" lay-submit value="添加管理员" class="btn btn-primary col-lg-1" style="margin-bottom: 5px;" onclick="popwin = $('#modal-module-addKeeper').modal();"/>
	<div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;">
	    <div class="ibox">
	        <div class="ibox-content">
	            <div class="project-list">
	                <table class="table table-hover">
	                    <tbody>
	                    	{loop $keeper $item}
	                        <tr>
	                            <td class="project-status">
	                            	{if $item['ismain'] == 1}
	                                <span class="label label-success">系统管理员
	                                {else if $item['ismain'] == 2} <span class="label label-default">核销员
	                                {/if}
	                            </span>
	                            </td>
	                            <td class="project-title">
	                                <a href="project_detail.html">{$item['name']}</a>
	                                <br>
	                                <small>创建于 {php echo date('Y.m.d',$item['createtime'])}</small>
	                            </td>
	                            <td class="project-completion">
	                                    <small>微信昵称：</small>{$item['member']['nickname']}
	                            </td>
	                            <td class="project-people">
	                                <a href="projects.html"><img alt="image" class="img-circle scrollLoading" src="{php echo tomedia($item['member']['avatar'])}"></a>
	                            </td>
	                            <td class="project-actions">
	                                <a href="projects.html#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 编辑 </a>
	                            </td>
	                        </tr>
	                        {/loop}
	                        </tbody>
	                    </table>
	                </div>
	           </div>
        </div>
    </div>
<div id="modal-module-addKeeper" class="modal fade" tabindex="-1">
	<div class="modal-dialog" style='width: 920px;'>
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h3>管理员</h3></div>
			<div class="modal-body">
		<style>
			.table{margin-bottom: 0}
			.table td, .table th{text-align: center;}
		</style>
		<form class="table-responsive" method="post" action="" id="form1">
			<input type="hidden" name="uid" value="">
			
			<table class="table table-hover table-bordered">
				<tbody>
					
					<tr>
						<th>输入微信昵称</th>
						<td colspan="3">
							<div class="layui-form-item">
			                    <label class="col-xs-12 col-sm-3 col-md-2 layui-form-label"></label>
			                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
			                        <input type='hidden' id='openid' name='openid' value="{$member['openid']}" />
			                        <input type='hidden' name='uid' value="{$register['member']['id']}" />
			                         <div class="modal-body" >
	                                    <div class="row">
	                                        <div class="input-group">
	                                            <input type="text" class="form-control" name="keyword" value="" id="search-kwd" placeholder="输入微信昵称" />
	                                            <span class='input-group-btn'><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
	                                        </div>
	                                    </div>
	                                    <div id="module-menus" style="padding-top:5px;">
	                                    </div>
	                                </div>
			                	</div>
			   				</div>
						</td>
					</tr>
					<!--<tr>
						<th>设置VIP</th>
						<td colspan="3">
							<label class="radio-inline"><input type="radio" name="level" value="1"> 系统管理员</label>
							<label class="radio-inline"><input type="radio" name="level" value="2"> VIP2</label>
							<label class="radio-inline"><input type="radio" name="level" value="3"> VIP3</label>
						</td>
					</tr>
			        <tr>
			            <th>系统管理员</th>
			            <td colspan="3">具备店铺所有管理的权限</td>
			        </tr>-->
			        <tr>
			        	<th>核销员</th>
			            <td colspan="3">可以通过手机客户端进行扫码核销<br>可以通过手机客户端查看自己的扫码核销记录</td>
			        </tr>
				</tbody>
			</table>
		</form>
		<div class="modal-footer">
			<span name="submit" id="submit" class="pull-right btn btn-primary" uid="" data-dismiss="modal" aria-hidden="true">保存</span>
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</div>
		</div>
	
	</div>
</div>
{/if}
<script type="text/javascript">
	$(function(){
		$(".scrollLoading").scrollLoading();
		var $pop = null;
		$('.scrollLoading').hover(function(){
			var img = $(this).attr('src');
			var obj = this;
			var $pop = util.popover(obj, function($popover, obj){
				obj.$popover = $popover;
			}, '<div><img src="'+img+'" style="max-width:200px; max-height:200px;"></div>');
		}, function(){
			this.$popover.remove();
		});
	});
</script>
<script language='javascript'>
    function search_members() {
       	if( $.trim($('#search-kwd').val())==''){
            Tip.focus('#search-kwd','请输入关键词');
            return;
        }

		$("#module-menus").html("正在搜索....")
		$.get('{php echo web_url('store/register/add',array('op'=>'selectnickname'))}', {
			keyword: $.trim($('#search-kwd').val())
		}, function(dat){
			$('#module-menus').html(dat);
		});
	}
    function select_member(o) {
		$("#openid").val(o.openid);
		$("#saler").val(o.nickname);
		$('#search-kwd').val(o.nickname)
		$("#avatar").attr('src', o.avatar);
		$('#module-menus').html('');
//		$(".close").click();
	}

	$(function () {
		addselect();
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
	

</script>
{php include wl_template('common/footer');}