{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li ><a href="{php echo web_url('member/wlMember/index')}">会员</a></li>
	{if !empty($uid)}
		<li {if  $status==1}class="active"{/if}><a href="{php echo web_url('member/wlMember/creditRecord',array('status'=>1,'uid'=>$uid))}">积分记录</a></li>
		<li {if  $status==2}class="active"{/if}><a href="{php echo web_url('member/wlMember/creditRecord',array('status'=>2,'uid'=>$uid))}">余额记录</a></li>
	{/if}
</ul>
<div class="well" style="padding: 5px 0 0;">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">uid</label>
			<div class="col-sm-2">
				<p class="form-control-static">{$member['uid']}</p>
			</div>
			<label class="col-md-1 control-label">昵称</label>
			<div class="col-sm-5">
				<p class="form-control-static">{if $member['nickname']}{$member['nickname']}{else}-{/if}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">手机</label>
			<div class="col-sm-2">
				<p class="form-control-static">{if $member['mobile']}{$member['mobile']}{else}-{/if}</p>
			</div>
			<label class="col-md-1 control-label">姓名</label>
			<div class="col-sm-5">
				<p class="form-control-static">{if $member['realname']}{$member['realname']}{else}-{/if}</p>
			</div>
		</div>
	</div>
</div>
<style>
	table thead tr th {text-align: center;}
	table tbody tr td {text-align: center; height: 50px;}
	table tbody tr td:last-child {text-align: center;}
</style>
<div class="panel panel-default">
	<div class=" panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width:20%;">类型</th>
					<th style="width:20%;">数目</th>
					<th style="width:20%;">操作时间</th>
					<th style="width:30%;">备注</th>
				</tr>
			</thead>
			<tbody>
				{loop $creditsRecords $row}
					<tr>
						<td>{if $row['table']==1}系统{else}拼团{/if}</td>
						<td>{$row['num']}</td>
						<td>{php echo date('Y-m-d H:i:s', $row['createtime'])}</td>	
						<td>{$row['remark']}</td>
					</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
{php include wl_template('common/footer');}