{php include wl_template('common/header');}
<div class="main">
	<form action="" method="post" class="layui-form" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$category['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				会员设置
			</div>
			<div class="panel-body">
				<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">会员优惠详情</label>
							<div class="col-sm-9 col-xs-12 col-md-8 col-lg-7">
								{php echo tpl_ueditor('vip[detail]', $vipSet['detail']);}
							</div>
						</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit  value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
$(function () {
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
</script>
<script type="text/javascript">
	function addConsumeItem(){
		var html = '';
			html = '<div class="input-group recharge-item" style="margin-top:5px">'
				+'<input type="text" class="form-control" name="month[]" value="">'
				+'<span class="input-group-addon">月</span>'
				+'<input type="text" class="form-control" name="money[]" value="">'
				+'<span class="input-group-addon">元</span>'
				+'<div class="input-group-btn">'
					+'<button class="btn btn-danger" type="button" onclick="removeConsumeItem(this)"><i class="fa fa-remove"></i></button>'
				+'</div>'
			+'</div>';
			$('.recharge-items').append(html);
	}
	function removeConsumeItem(obj){
		$(obj).parent().parent().remove();
	}
</script>
{php include wl_template('common/footer');}
