{php include wl_template('common/header');}
<div class="main">
	<form action="" method="post" id="setting-form" class="form-horizontal form">
		<div class="panel panel-default">
			<div class="panel-heading">VIP激活码设置</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">代理可否自主生成激活码</label>
					<div class="col-xs-12 col-sm-8">
						<div class="radio radio-success radio-inline">
							<input type="radio" id="inlineRadio1" name="vipstatus" value="1" {if intval($settings['vipstatus']) == 1}checked="checked"{/if} onclick="$('#sign').show();$('#nosign').hide();">
							<label for="inlineRadio1"> 是 </label>
						</div>
						<div class="radio radio-success radio-inline">
                            <input type="radio" id="inlineRadio2" name="vipstatus" value="2" {if intval($settings['vipstatus']) != 1}checked="checked"{/if} onclick="$('#sign').hide();$('#nosign').show();">
                            <label for="inlineRadio2"> 否 </label>
                        </div>
					</div>
				</div>
				<div id="sign" {if intval($settings['vipstatus']) != 1}style="display: none;"{/if}>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>生成VIP激活码类型</label>
						<div class="col-md-6">
							{loop $types $row}
								<div class="checkbox checkbox-success checkbox-inline">
		                            <input type="checkbox" id="{$row['id']}"  name="type[]" value="{$row['id']}" {if in_array($row['id'],$settings['viptype'])}checked="checked"{/if}>
		                            <label for="{$row['id']}"> {$row['name']} </label>
		                        </div>
							{/loop}
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
$(function () {
	window.optionchanged = false;
	$('#myTab a').click(function (e) {
		e.preventDefault();//阻止a链接的跳转行为
		$(this).tab('show');//显示当前选中的链接及关联的content
	})
});
var kw = 1;
function addType() {
	    $(".btn-add-type").button("loading");
	    $.ajax({
	        url: "{php echo web_url('setting/shopset/halfcardqa')}&kw="+kw,
	        cache: false
	    }).done(function (html) {
	        $(".btn-add-type").button("reset");
	        $("#datas").append(html);
	    });
	    kw++;
	}
</script>
{php include wl_template('common/footer');}