{php include wl_template('common/header');}
<ul class="nav nav-tabs" id="myTab">
	<li {if $_GPC['memberType']=='display'}class="active"{/if} ><a href="{php echo web_url('member/wlMember/memberType',array('memberType'=>'display'))}">类型列表</a></li>
	<li {if $_GPC['memberType']=='add'}class="active"{/if}><a href="{php echo web_url('member/wlMember/memberType',array('memberType'=>'add'))}">增加类型</a></li>
</ul>
{if $_GPC['memberType']=='display'}
<div class="panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover table-bordered">
			<thead>
			<tr>
				<th  class="text-center" style="width:90px;">LOGO</th>
				<th class="text-center" style="width:120px;">类型名称</th>
				<th class="text-center" style="width:60px;">时长</th>
				<th class="text-center" style="width:100px;">价格</th>
				<th class="text-center" style="width:100px;">显示</th>
			</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr class="text-center" >
					<td>
						<div class="img">
									<img width="50" height="50" class="oscrollLoading" src="{IMAGE_PIXEL}" data-url="{php echo tomedia($item['logo'])}" height="50" width="50" onerror="this.src='{IMAGE_NOPIC_SMALL}'" >
								</div>
					</td>
					<td>
						{$item['name']}
					</td>
					<td>
						{$item['days']}天
					</td>
					<td>{$item['price']}</td>
					<td>{if $item['status']==1}<label class="btn btn-primary">显示</label>{else}<label class="btn btn-default">隐藏</label>{/if}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
<script type="text/javascript">
$(".oscrollLoading").scrollLoading();
		var $pop = null;
		$('.img').hover(function() {
			var obj = this;
			var img = $(this).find('img').attr('src');
			var $pop = util.popover(obj, function($popover, obj) {
				obj.$popover = $popover;
			}, '<div><img src="'+ img+'" style="max-width:200px; max-height:200px;"></div>');
		}, function() {
			this.$popover.remove();
		});
	require(['jquery', 'util'], function($, util){
		$('.js-copy').each(function(){
			var id=$(this).attr('data-id');
			util.clip($("#js-copy"+id), $(this).attr('data-url'));
		});
	});
	function set_remark(id){
		var remark = $('#'+id).val();
		$.post("{php echo web_url('secretkey/secretkey/remark')}"
			,{id:id,remark:remark}
			,function(d){
				layer.alert(d.message);
			}
			,"json"
		);
	}
	function addip(id){
		layer.prompt({title: '输入IP或IP段', formType: 2}, function(pass, index){
			layer.close(index);
			$.post("{php echo web_url('secretkey/secretkey/addip')}",{id:id,pass:pass},function(d){
				layer.alert(d.message);
			},"json");
		});
	}
</script>
{/if}
{if $_GPC['memberType']=='add'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form">
		<div class="panel panel-default">
	<div class="panel-heading">会员类别</div>
	<div class="panel-body">
		<div class="panel-body">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">LOGO</label>
				<div class="col-md-6">
					{php echo tpl_form_field_image('data[logo]', $data['logo']);}
					<span class="help-block">图片建议为640X300</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">类别名称</label>
				<div class="col-md-6">
					<input type="text" name="data[name]" id="name" class="form-control" value="{$data['name']}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">时长</label>
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon">天</span>
					<input type="text" name="data[days]" class="form-control" value="{$data['days']}" />
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" >价格</label>
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon">￥</span>
					<input type="text" name="data[price]" class="form-control" value="{$data['price']}" />
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" >可开通次数</label>
				<div class="col-md-4">
				<div class="input-group">
					<input type="text" name="data[num]" class="form-control" value="{$data['num']}" />
					<span class="help-block">不填或则填0表示不限制</span>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">是否显示</label>
				<div class="col-xs-12 col-sm-8">
					<div class="radio radio-success radio-inline">
						<input type="radio" id="inlineRadio1" name="data[status]" value="1" {if intval($data['status']) == 1}checked="checked"{/if}>
						<label for="inlineRadio1"> 显示 </label>
					</div>
					<div class="radio radio-success radio-inline">
                        <input type="radio" id="inlineRadio2" name="data[status]" value="2" {if intval($data['status']) != 1}checked="checked"{/if} >
                        <label for="inlineRadio2"> 隐藏 </label>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group col-sm-12">
			<input type="hidden" name="id" value="{$data['id']}" />
			<input type="hidden" name="memberType" value="{$_GPC['memberType']}" />
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</from>
</div>
{/if}
{php include wl_template('common/footer');}