{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="#">VIP开通记录</a></li>
</ul>
<div class="main">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:120px;">用户mid</th>
						<th style="width:120px;">粉丝信息</th>
						<th style="width:180px;">开通时长</th>
						<th style="width:180px;">所属地区</th>
						<th style="width:120px;">结算状态</th>
						<th style="width:100px;">本次到期时间</th>
						<th style="width:100px;">充值时间</th>
					</tr>
				</thead>
				<tbody>
					{loop $vipRecord[0] $item1}
					<tr>
						<td>{$item1['mid']}</td>
						<td>{$item1['member']['nickname']}<br>{$item1['member']['mobile']}</td>
						<td><span style="color: #F26C4F;font-size: 20px;"><b>+</b>{$item1['howlong']} 月</span></td>
						<td>{$item1['areaName']}</td>
						<td class="text-center" style="width:120px;">
								{if $item1['issettlement']==0}<span class="label label-default">未申请</span>{/if}
								{if $item1['issettlement']==1}<span class="label label-info">待结算</span>{/if}
								{if $item1['issettlement']==2}<span class="label label-success">已结算</span>{/if}
							</td>
						<td>{php echo date("Y-m-d",$item1['limittime']);}</td>
						<td>{php echo date("Y-m-d",$item1['createtime']);}</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
	</div>
	{$pager}
</div>
{php include wl_template('common/footer');}