{php include wl_template('common/header');}
<div class="page-group" >
    <div class="page page-current" id="page-index">
    	{php include wl_template('common/followbar');}
    	{php include wl_template('common/footerbar');}
		<div class="content native-scroll infinite-scroll-bottom infinite-scroll">
		{loop $data['page'] $item}
			{if $item[on]==1}
				{php include wl_template('dashboard/'.$item['sort']);}
			{/if}
		{/loop}
		</div>
	</div>
	<div class="popup-search">
		<header class="bar bar-nav">
		    <a class="icon iconfont icon-right pull-right my-close-popup external"></a>
		    <h3 class='title'>搜索商家</h3> 
		</header>
		<div class="content-block" style="margin-top: 60px;">
			<form class="weui_search_outer" action="{php echo app_url('store/merchant/index')}" method="post">
		    <div class="searchbar row">
		        <div class="search-input col-85">
		            <input type="search" placeholder='输入关键字...' name='keyword' /> </div>
		        <a class="button button-fill button-primary col-15 external" id='search-form'>
		        	<span class="icon iconfont icon-search"></span> </a>
		    </div> 
		    </form>
		   	<span class="search-title">热门搜索</span>
		    <!--<ul class="search-tips">
		        <li><a href="#" class="button button-warning">黄焖鸡（小）</a></li>
		        <li><a href="#" class="button button-warning">米饭</a></li>
		        <li><a href="#" class="button button-warning">黄焖鸡（小）+米饭</a></li>
		        <li><a href="#" class="button button-warning">黄焖鸡（大）</a></li>
		        <li><a href="#" class="button button-warning">中辣</a></li>
		        <li><a href="#" class="button button-warning">黄焖鸡（中）</a></li>
		    </ul>-->
		</div>
	</div>
</div>
<script>
$("#search-form").click(function(){
	$('.weui_search_outer').submit();
});
</script>
<script type="text/javascript">
var map, geolocation, latitude, longitude;
//加载地图，调用浏览器定位服务
map = new AMap.Map('container', {
    resizeEnable: true
});
map.plugin('AMap.Geolocation', function() {
    geolocation = new AMap.Geolocation({
        enableHighAccuracy: true,//是否使用高精度定位，默认:true
        timeout: 10000,          //超过10秒后停止定位，默认：无穷大
        buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
        zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        buttonPosition:'RB'
    });
    map.addControl(geolocation);
    geolocation.getCurrentPosition();
    AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
    AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
});
AMap.service('AMap.Geocoder',function(){//回调函数
    //实例化Geocoder
    geocoder = new AMap.Geocoder({
        city: "010"//城市，默认：“全国”
    });
})
//解析定位结果
function onComplete(data) {
    latitude = data.position.getLat(); // 纬度，浮点数，范围为90 ~ -90
    longitude = data.position.getLng(); // 经度，浮点数，范围为180 ~ -180。
	addItems();addhalfcard();
}
//解析定位错误信息
function onError(data) {
    $.alert('获取地理位置失败，重新获取！', function () {
        location.href = "{php echo app_url('dashboard/home')}";
    });
}
function addItems() {
	$.post("{php echo app_url('store/merchant/getstore')}" + "lng="+ longitude +"&lat="+ latitude,function(data){
		var gettpl = document.getElementById('nearbyId').innerHTML;
		laytpl(gettpl).render(data, function(html){
			$('#storeview').append(html);
		});
	}, 'json');
}
$.init();
</script>
<style>
.emptyblank{height: .5rem;}
</style>
{php include wl_template('common/footer');}