{php include wl_template('common/header');}
<ul class="nav nav-tabs" id="myTab">
	<li class="active" ><a href="#tab_1">基本信息</a></li>
	<li><a href="#tab_2">区域设置</a></li>
	<li><a href="#tab_3">结算提现</a></li>
</ul>
<div class="main">
	<form action="" method="post" class="layui-form" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$agent['id']}" />
		<div class="tab-content">
			<div class="tab-pane  active" id="tab_1">
				<div class="panel panel-default">
					<div class="panel-heading">
						代理信息
					</div>
					<div class="panel-body">
						<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">代理名称<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			<input type="text" name="agent[agentname]" required  lay-verify="required" placeholder="请输入代理名称" autocomplete="off" class="layui-input" value="{$agent['agentname']}">
				    		</div>
				  		</div>
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">真实姓名<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 layui-input-block">
				      			<input type="text" name="agent[realname]" required  lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" value="{$agent['realname']}">
				    		</div>
				  		</div>
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">联系电话</label>
				    		<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 layui-input-block">
				      			<input type="text" name="agent[mobile]" placeholder="请输入联系电话" autocomplete="off" class="layui-input" value="{$agent['mobile']}">
				    		</div>
				  		</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						代理账号
					</div>
					<div class="panel-body">
						{if !empty($agent['id'])}
						<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">代理账号<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			<span class="uneditable-input form-control">{$agent['username']}</span>
				      			<span class="help-block">当前编辑的用户名</span>
				    		</div>
				  		</div>
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">新密码</label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			<input type="text" name="password" placeholder="请输入代理新密码" autocomplete="off" class="layui-input" value="">
				      			<span class="help-block">请填写密码，最小长度为 8 个字符。如果不更改密码此处请留空</span>
				    		</div>
				  		</div>
				  		{else}
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">代理账号<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			<input type="text" name="agent[username]" required  lay-verify="required" placeholder="请输入代理账号" autocomplete="off" class="layui-input" value="">
				    		</div>
				  		</div>
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">代理密码<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			<input type="text" name="agent[password]" required  lay-verify="required" placeholder="请输入代理密码" autocomplete="off" class="layui-input" value="">
				    		</div>
				  		</div>
				  		{/if}
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">所属组别<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			<select name="agent[groupid]" lay-verify="required">
		        					{loop $allgroup $groups}
		        					<option value="{$groups['id']}" {if $groups['id'] == $agent['groupid']}selected{/if}>{$groups['name']}</option>
		        					{/loop}
		      					</select>
				    		</div>
				  		</div>
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">到期时间<span class="must-fill">*</span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				      			{php echo tpl_form_field_date('agent[endtime]',$agent['endtime'])}
				    		</div>
				  		</div>
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">是否启用</label>
				    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 layui-input-block">
				      			<input type="radio" name='status' value='1' {if $agent['status']==1}checked{/if} title="是">
		      					<input type="radio" name='status' value='0' {if $agent['status']==0}checked{/if} title="否">
				    		</div>
				  		</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_2">
				<div class="panel panel-default">
					<div class="panel-heading">
						代理区域
					</div>
					<div class="panel-body">
				  		<div class="layui-form-item">
				    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label"><span class="must-fill"></span></label>
				    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
				    			<div class="panel-group" id="accordion">
				    				{loop $nodes $node}
					      			<div class="panel panel-default">
			    						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{$node['id']}" {if !empty($provs) && in_array(intval($node['id']/10000), $provs)}aria-expanded="true"{/if}>
											<div class="panel-heading">
												<h4 class="panel-title">
														{$node['name']}
												</h4>
											</div>
										</a>
										<div id="collapse{$node['id']}" class="panel-collapse collapse {if !empty($provs) && in_array(intval($node['id']/10000), $provs)}in{/if}" {if !empty($provs) && in_array(intval($node['id']/10000), $provs)}aria-expanded="true"{/if}>
											<div class="panel-body">
												{loop $node['children'] $child}
													<input type="checkbox" name="node_ids[]" title="{$child['name']}" value="{$child['id']}" {if !empty($roles) && in_array($child['id'], $roles)}checked{/if}>
												{/loop}
											</div>
										</div>
									</div>
								{/loop}
								</div>
				    		</div>
				  		</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_3">
				<div class="panel panel-default">
					<div class="panel-heading">
						代理提现到微信号
					</div>
					<div class="panel-body">
						{php echo wl_tpl_form_field_member($m)}
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						商家售卖金额提现设置
					</div>
					<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">代理提成</label>
						<div class="input-group">
							<span class="input-group-addon">%</span>
							<input type="text" name="percent[salepercent]" class="form-control" value="{$agent['percent']['salepercent']}" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" >系统提成</label>
						<div class="input-group">
							<span class="input-group-addon">%</span>
							<input type="text" name="percent[syssalepercent]" class="form-control" value="{$agent['percent']['syssalepercent']}" />
						</div>
					</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						代理所有地区VIP充值提现
					</div>
					<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-lg-2 control-label" >系统提成</label>
						<div class="input-group">
							<span class="input-group-addon">%</span>
							<input type="text" name="percent[vippercent]" class="form-control" value="{$agent['percent']['vippercent']}" />
						</div>
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						代理所有地区五折卡充值提现
					</div>
					<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" >系统提成</label>
						<div class="input-group">
							<span class="input-group-addon">%</span>
							<input type="text" name="percent[halfpercent]" class="form-control" value="{$agent['percent']['halfpercent']}" />
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit  value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function () {
	window.optionchanged = false;
	$('#myTab a').click(function (e) {
		e.preventDefault();//阻止a链接的跳转行为
		$(this).tab('show');//显示当前选中的链接及关联的content
	})
});
</script>
{php include wl_template('common/footer');}