{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="#">运营地区列表</a></li>
</ul>
<form class="form form-horizontal" action="" method="post">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:100px; text-align:center;">编码</th>
						<th style="width:200px; text-align:center;">名称</th>
						<th style="width:200px; text-align:center;">所属代理</th>
						<th style="width:200px; text-align:center;">是否开启</th>
						<th style="width:120px; text-align:right;">是否热门</th>
					</tr>
				</thead>
				<tbody>
				{loop $addresses $address}
					<tr>
						<td style="white-space: normal;" class="text-center">{$address['areaid']}</td>
						<td class="text-center">{$address['addressname']}</td>
						<td class="text-center">{$address['agentname']}</td>
						<td class="text-center">
							<input type="checkbox" class="js-switch" name="status[{$address['id']}]" {if $address['status'] == 1} checked="checked" {/if}>
						</td>
						<td class="text-right">
							<input type="checkbox" class="js-switch" name="ishot[{$address['id']}]" {if $address['ishot'] == 1} checked="checked" {/if}>
						</td>
					</tr>
				{/loop}
				</tbody>
			</table>
		</div>
	</div>
	<input type="hidden" name="token" value="{$_W['token']}" />
	<input name="submit" type="submit" class="btn btn-primary min-width" value="保存">
</form>
<script>
var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
elems.forEach(function(html) {
  var switchery = new Switchery(html);
});
</script>
{php include wl_template('common/footer');}
