{php include wl_template('common/header');}
<div class="page-group">
	<div class="page page-current" id="page-selcet-region">
		<div class="content native-scroll select-region-all" id="scrollAll">
			<div class="my-city" id="xq">
				<div id="toggle-select-region">
					<span style="margin-left: 8px;">当前定位地区：</span>
					<span>{$maera['lc']}</span>
					<!--<span id="select-region">选择县区 <span class="icon iconfont icon-unfold"></span></span>-->
				</div>
				<ul id="select-region-list">
					<li>全城</li>
					<div style="clear: both;"></div>
				</ul>
			</div>
			<!--<div class="select-region-title" id="dw">
				<span>当前定位城市</span>
			</div>
				<span class="now-region">成都</span>-->
			<div class="select-region-title" id="hot">
				<span>热门城市</span>
			</div>
			<div>
				<ul style="padding: 2px 9px 15px 9px;">
					{loop $address_tree $ishot}
					<li class="city-btn" onclick="location.href='{php echo app_url('dashboard/home/index',array('areaid'=>$ishot['id']));}'">{$ishot['name']}</li>
					{/loop}
					<div style="clear: both;"></div>
				</ul>
			</div>
			<div class="list-block contacts-block">
				{loop $area $item}
		      	<div class="list-group">
			        <ul>
			          	<li class="list-group-title">{$item['name']}</li>
			          	{loop $item['children'] $val}
			          	<li>
				            <a href="{php echo app_url('dashboard/home/index',array('areaid'=>$val['id']));}" class="item-link item-content">
				              <div class="item-inner">
				                <div class="item-title">{$val['name']}</div>
				              </div>
				            </a>
			          	</li>
			          	{/loop}
			        </ul>
		     	</div>
		     	{/loop}
		    </div>
		</div>
	</div>
</div>
<style>
.index-list-bar{display: none;}
</style>
<script type="text/javascript">
	var showCityList = false;
	$("#toggle-select-region").click(function() {
		if(!showCityList) {
			$("#select-region-list").css({
				"height": "auto",
				"opacity": 1,
				"padding": "12px 10px",
				"margin": 0,
				"display":"block"
			})
			$("#select-region-list li").css({
				"position": "relative",
				"margin": "4px 1%",
				"padding": "0",
				"height": "32px",
				"border": "1px solid #ccc",
				"marginTop": "0",
				"color": "#333",
				"opacity": 1
			})
			showCityList = true;
		} else {
			$("#select-region-list").css({
				"height": "0",
				"opacity": 0,
				"padding": "0",
				"margin": 0
			})
			$("#select-region-list li").css({
				"position": "relative",
				"padding": "0",
				"height": "0",
				"border": "none",
				"color": "#fff",
				"opacity": 0
			})
			showCityList = false;
		}
	})
	$.init();
</script>
{php include wl_template('common/footer');}