			</div>
		</div>
	</div>
	<style>
		.ft.links{margin-bottom: 0px;}
		.ft .links_item{border-left-color:#f1f1f1;*line-height:15px}
		.ft .links_item a{color:#f1f1f1}
		.foot{padding:24px 0;color:#f1f1f1;text-align:center;background-color:#b8b9b9;bottom: 0px;position: inherit;width: 100%;}
		.foot ul {list-style-type: none;}
		.copyright{display:inline}
	</style>
	<script>
	//一般直接写在一个js文件中
	layui.use(['layer', 'form','laydate'], function(){
	  	var layer = layui.layer,
		form = layui.form();
	  	var laydate = layui.laydate;
		var start = {
			min:laydate.now(),
			max:'2099-06-16 23:59:59',
			istoday:false,
			choose:function(datas){
				end.min = datas;
				end.start = datas;
			}
		};
		var end = {
			min:laydate.now(),
			max:'2099-06-16 23:59:59',
			istoday:false,
			choose:function(datas){
				start.max = datas; 
			}
		};
		$('input[starttime="true"]').click(function(){
			start.elem = this;
			laydate(start);
		});
		$('input[endtime="true"]').click(function(){
			end.elem = this
	    	laydate(end);
		});
	});
	</script> 
	<script>
		require(['bootstrap']);
	</script>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><p class="copyright">{if $cloudset['copyright']}{$cloudset['copyright']}{else}Copyright © 2015-2016 {$_W['account']['name']}. All Rights Reserved.{/if}</p> </li>
		</ul>
	</div>
</body>
</html>

