{php include wl_template('common/header');}
<style type="text/css">
	.page-heading {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    margin-left: 15px;
</style>
<style>
	td>i{cursor:pointer; display:inline-block; width:100%; height:100%; color:#428bca;}
	.category-caret{display:inline-block; width:20px; margin: 0 10px; text-align:center; cursor:pointer; color:#d9534f;}
	.add.add_level0{cursor:pointer;}
</style>
<div class="page-heading">
	<span class="pull-right" style="    margin-top: -10px;">
                <span class="label label-danger"> {$time}更新</span>
                <a class="btn btn-primary btn-sm" href="{php echo web_url('finace/wlCash/cashSurvey',array('refresh'=>1));}"><i class="fa fa-refresh"></i> 刷新</a>
            </span>
    <h5>总成交金额：{$allMoney} &nbsp;&nbsp;&nbsp;&nbsp;  最高成交额：{$max}</h5>
</div>
<form action="" method="post">
	<div class="panel panel-default">
		<div class="panel-heading clearfix"><span class="pull-right"><a href="javascript:;" class="js-category-all">全部展开 </a></span></div>
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:200px;">代理名称</th>
						<th style="width:120px; text-align:center;">交易额</th>
						<th style="width:200px; text-align:center;">所占比例</th>
					</tr>
				</thead>
				<tbody>
					{loop $agents $item}
					<tr>
						<td class="text-left">
							<input type="text" class="form-control" maxlength="50" style='display:inline;width:150px;'name="name[{$item['id']}]" value="{$item['agentname']}" />
							<span class="category-caret">
								<i class="fa fa-caret-down js-category-down"  pid="{$item['id']}">商家</i>
								<i class="fa fa-caret-up js-category-up" style="display:none;" pid="{$item['id']}">商家</i>
							</span>
						</td>
						<td class="text-center">
							{$item['aMoney']}元
						</td>
						<td>
	                       <div class="progress" style="max-width:500px;height:30px;line-height:30px;">
	                           <div style="width: {$item['forpercent']}%;" class="progress-bar progress-bar-info"><span style="color:#000">{$item['forpercent']}%</span></div>
	                       </div>
	                    </td>
					</tr>
						{loop $children[$item['id']] $ccate}
							<tr class="js-collpase js-child-category" pid="{$item['id']}">
								<td class="text-left">
									<div style="padding-left:50px;height:30px;line-height:30px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
										<img src="{php echo tomedia($ccate['logo']);}" width='45' height="45" onerror="$(this).remove()" class="scrollLoading" style='float:left;' />
										<input type="text" class="form-control" maxlength="50" style='display:inline;width:150px;'name="name[{$ccate['id']}]" value="{$ccate['storename']}" />
									</div>
								</a>
								</td>
								<td class="text-center">
									{$ccate['sMoney']}元
								</td>
								<td>
			                       <div class="progress" style="max-width:500px;">
			                           <div style="width: {$ccate['forpercent']}%;background-color: #78D09F;" class="progress-bar progress-bar-info" ><span style="color:#000">{$ccate['forpercent']}%</span></div>
			                       </div>
			                    </td>
							</tr>
						{/loop}
						{$pager}
					{/loop}
					<!--<tr>
						<td colspan="4"><div class="add add_level0"><i class="fa fa-plus-circle"></i> 添加分类</div></td>
					</tr>-->
				</tbody>
			</table>
		</div>
	</div>
</form>
<script type="text/javascript">
	require(['jquery', 'util'], function($, util){
		$('.js-copy').each(function(){
			var id=$(this).attr('data-id');
			util.clip($("#js-copy"+id), $(this).attr('data-url'));
		});
	});
</script>
<script>
	$(function(){
		$('.js-child-category').hide();
		$(".scrollLoading").scrollLoading();
		var $pop = null;
		$('.scrollLoading').hover(function(){
			var img = $(this).attr('src');
			var obj = this;
			var $pop = util.popover(obj, function($popover, obj){
				obj.$popover = $popover;
			}, '<div><img src="'+img+'" style="max-width:200px; max-height:200px;"></div>');
		}, function(){
			this.$popover.remove();
		});
		//添加父分类
		//控制显示
		$('.js-category-all').click(function() {
			if($(this).hasClass('js-collapse')) {
				$('.js-child-category').fadeOut("slow");
				$('.fa-caret-up').hide();
				$('.fa-caret-down').show();
				$(this).text('全部展开').removeClass('js-collapse');
			} else {
				$('.js-child-category').fadeIn("slow");
				$('.fa-caret-up').show();
				$('.fa-caret-down').hide();
				$(this).text('全部折叠').addClass('js-collapse');
			}
		});

		$('.js-category-up').click(function() {
			var parentId = $(this).attr('pid');
			console.log(parentId);
			$('tr[pid="'+parentId+'"]').fadeOut("slow");
			$(this).prev().show();
			$(this).hide();
		});
		$('.js-category-down').click(function() {
			var parentId = $(this).attr('pid');
			console.log(parentId);
			$('tr[pid="'+parentId+'"]').fadeIn("slow");
			$(this).next().show();
			$(this).hide();
		});
	});
</script>

</div>
{php include wl_template('common/footer');}