{if $_W['fans']['follow'] != 1}
<div class="subscribe">
    <div class="img"><img src="{php echo tomedia($_W['wlsetting']['base']['logo'])}"></div>
    <div class="text">
        <p>欢迎进入<font>{$_W['wlsetting']['base']['name']}</font></p>
        <p>关注公众号,享专属服务</p>
    </div>
    <div class="btn">
        <a class="lizhuanz" href="javascript:;" data-followurl="{$_W['wlsetting']['share']['gz_url']}" data-qrcode="{$_W['wlsetting']['share']['gz_image']}"><div class="buttonn">立即关注</div></a>
    </div>
</div>
<div class="weui_dialog_alert">
	<div class="weui_mask" style="display: none;"></div>
	<div class="weui_dialog" style="display: none;"> 
		<p class="dialog-title">长按二维码，关注我们</p> 
		<div class="img-box"><img src="{php echo tomedia($_W['wlsetting']['share']['gz_image'])}" style="max-width:100%" ></div> 
		<span class="vux-close"></span> 
	</div> 
</div>
<script>
$(function(){
	var _followbtn = $(".lizhuanz");
	var _followurl = _followbtn.data("followurl");
	var _qrcode = _followbtn.data("qrcode");
	_followbtn.click(function(){
		if(_qrcode){
			$('.weui_mask').show();
			$('.weui_dialog').show();
		}else if(_followurl){
			location.href = _followurl;
		}
		return;
	});
	$(".weui_mask").click(function(){
		$('.weui_mask').hide();
		$('.weui_dialog').hide();
	});
});
</script>
{/if}
