<nav class="bar bar-tab bar-footer">
    <a class="tab-item external {if $_W['plugin']=='dashboard'}active{/if}" href="{php echo app_url('dashboard/home')}">
      <span class="icon iconfont {if $_W['plugin']=='dashboard'}icon-homefill{else}icon-home{/if}"></span>
      <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external {if $_W['controller']=='merchant'}active{/if}" href="{php echo app_url('store/merchant')}">
      <span class="icon iconfont {if $_W['controller']=='merchant' && $_W['method']!='enter'}icon-shopfill{else}icon-shop{/if}"></span>
      <span class="tab-label">商家</span>
    </a>
    <a class="tab-item external {if $_W['controller']=='storeManage'}active{/if}" href="{php echo app_url('store/storeManage/enter')}">
      <span class="icon iconfont {if $_W['controller']=='storeManage'}icon-writefill{else}icon-write{/if}"></span>
      <span class="tab-label">入驻</span>
    </a>
    <a class="tab-item external {if $_W['plugin']=='member'}active{/if}" href="{php echo app_url('member/user')}">
      <span class="icon iconfont {if $_W['plugin']=='member'}icon-myfill{else}icon-my{/if}"></span>
      <span class="tab-label">我的</span>
    </a>
</nav>