<script>
	wx.ready(function () {
		var shareData = {
			title: "{$_W['wlsetting']['share']['share_title']}",
			desc: "{$_W['wlsetting']['share']['share_desc']}",
			link: "{$_W['wlsetting']['share']['share_url']}",
			imgUrl: "{php echo tomedia($_W['wlsetting']['share']['share_image'])}",
		};
	//分享朋友
		wx.onMenuShareAppMessage({
		    title: shareData.title,
		  	desc: shareData.desc,
		  	link: shareData.link,
		  	imgUrl:shareData.imgUrl,
		  	trigger: function (res) {
		  	},
		  	success: function (res) {
		  	},
		  	cancel: function (res) {
		  	},
		  	fail: function (res) {
		    	alert(JSON.stringify(res));
		  	}
		});
	//朋友圈
		wx.onMenuShareTimeline({
		  	title: shareData.title,
		  	link: shareData.link,
		  	imgUrl:shareData.imgUrl,
		  	trigger: function (res) {
		  	},
		  	success: function (res) {
		  	},
		  	cancel: function (res) {
		  	},
		  	fail: function (res) {
		    	alert(JSON.stringify(res));
		  	}
		});
	});
</script>
</body>
</html>