{php include wl_template('common/header');}
<style>
.weui_extra_area{font-size: 14px;color: #888;}
.weui_extra_area a{color: #61749B;}
.hee{height: 4rem;background: #ff512f;}
.title{position: absolute;display: block;width: 100%;padding: 0;margin: 0 -.5rem;font-size: 1.0rem;font-weight: 500;line-height: 2.2rem;color: #fff;text-align: center;white-space: nowrap;}
.warning{color: #fff;position: absolute;display: block;width: 100%;margin: 1.8rem -0.8rem;font-size: 0.65rem;font-weight: 500;line-height: 2.2rem;text-align: center;white-space: nowrap;}
.price{color: #E84D64;font-weight: bold;}
.pickList .picker-item{
		width: 100% !important;
		display: block !important;
	}
	.picker-items-col{
		width: 100% !important;
		display: block !important;
	}
	.picker-items-col-wrapper{
		width: 100% !important;
		display: block !important;
	}
	#downnum,#upnum{
		display: inline-block;
		padding-left:7px;
		padding-right:7px;
		padding-bottom: 2px;
		font-weight: bolder;
		color: green;
		border: 1px solid gray;
	}
	#couponnum{
		background-color: white;
		width: 2rem;
		display: inline-block;
		height: 25px;
		text-align: center;
		padding-left: 3px;
		padding-right: 3px;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
	}
</style>
<div class="page-group">
    <div class="page page-current" id="page-pay">
        <div class="weui_extra_area" style="position: fixed;bottom: 10px;z-index: 9999;width: 100%;text-align: center;">
            <a href="javascript:;" onclick="history.go(-1);" >返回</a>
            <a href="javascript:">&nbsp;&nbsp; ▏</a>
            <a href="{php echo app_url('dashboard/home/index')}">首页</a>
        </div>
        <div class="content" style="background-color: #F9F9F9;">
        	 <div class="list-block" style="margin-top: .5rem;">
                <ul>
                    <li class="item-content paytype">
                        <div class="item-inner">
                            <div class="item-title">{$name}</div>
                            <div class="item-after">￥{$price}</div>
                        </div>    
                    </li>
                    {if $orderType=='coupon'}
                    <li class="item-content paytype">
                        <div class="item-inner">
                            <div class="item-title">数量</div>
                            <div class="item-after" >{$order['num']}</div>
                        </div>    
                    </li>
                    <li class="item-content paytype">
                        <div class="item-inner">
                            <div class="item-title">小计</div>
                            <div class="item-after" style="color: orangered;">￥<span id="subtotal">{$price}</span></div>
                        </div>    
                    </li>
                    {/if}
                </ul>
            </div>
            <!--<div class="list-block" style="margin-top: .5rem;">
                <ul>
                    <li class="item-content paytype">
                        <div class="item-inner">
                            <div class="item-title">您绑定的手机号码</div>
                            <div class="item-after"></div>
                        </div>    
                    </li>
                    <li class="item-content paytype">
                        <div class="item-inner">
                            <div class="item-title">{$mobile}</div>
                            <div class="item-after" onclick="location.href = '{php echo app_url('member/user/binding',array('backurl'=>urlencode($url)));}'">绑定新号码<i class="icon iconfont icon-right"></i></div>
                        </div>    
                    </li>
                </ul>
            </div>-->
            <div class="list-block" style="margin-top: .5rem;">
                <ul>
                	{if in_array("wechat",$status)}
                    <li class="item-content paytype" id="wechat" data-type = "wechat">
                        <div class="item-media">
                            <img src="{URL_APP_IMAGE}rush/wei2.png" style="width: 1.45rem;height: 1.45rem;"></div>
                        <div class="item-inner">
                            <div class="item-title">微信支付</div>
                            <div class="item-after">￥{$price}</div>
                    </li>
                    {/if}
                    {if in_array("credit",$status)}
                    <li class="item-content paytype" id="credit" data-type = "credit">
                    <div class="item-media" ><img src="{URL_APP_IMAGE}rush/yu.png" style="width: 1.45rem;height: 1.45rem;"></div>
                    <div class="item-inner">
                    <div class="item-title">余额支付<span style="font-size: 11px;">(剩余：￥{$credits['credit2']})</span></div>
                    <div class="item-after">￥{$price}</div></div>
                    </li>
                    {/if}
                    <!--<li class="item-content" id="other">
                    <div class="item-media" ><img src="{URL_APP_IMAGE}rush/dai.png" style="width: 1.45rem;height: 1.45rem;"></div>
                    <div class="item-inner">
                    <div class="item-title">找人代付</div>
                    <div class="item-after">{$activity['price']}元</div></div>
                    </li>
                    <li class="item-content" id="delivery">
                    <div class="item-media" ><img src="{URL_APP_IMAGE}rush/huo.png" style="width: 1.45rem;height: 1.45rem;"></div>
                    <div class="item-inner">
                    <div class="item-title">货到付款</div>
                    <div class="item-after">{$activity['price']}元</div></div>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
	$('.paytype').click(function(){
		var payType = $(this).attr('id');
		var orderType = "{$orderType}";
		var orderId = "{$orderId}";
        $.showIndicator(); //加载提示。
        $.post("{php echo app_url('common/wlCommon/wlPay')}", {orderId:orderId,payType:payType,orderType:orderType},
        function(m) {
            if (!m.errno) { //验证通过，开始微信支付。
            	$.hideIndicator(); //取消加载提示。
            	if(payType=='wechat'){
	                m.data.timeStamp = String(m.data.timeStamp);
	                WeixinJSBridge.invoke('getBrandWCPayRequest', {
	                    'appId': m.data.appid ? m.data.appid: m.data.appId,
	                    'timeStamp': m.data.timeStamp,
	                    'nonceStr': m.data.nonceStr,
	                    'package': m.data.package,
	                    'signType': m.data.signType,
	                    'paySign': m.data.paySign,
	                },
	                function(res) {
	                    if (res.err_msg == 'get_brand_wcpay_request:ok') { //支付成功。
	                       var url = "{php echo app_url('common/wlCommon/wlPay')}&orderId=" + orderId + "&orderType="+ orderType+"&payType=" + payType + "&done=1";
	                        location.href = url;
	                    } else { //支付失败。
	                        $.toast("已取消支付");
	                    }
	                });
                }
            	if(payType=='credit'){
            		var url = "{php echo app_url('common/wlCommon/wlPay')}&orderId=" + orderId + "&orderType="+ orderType+"&payType=" + payType + "&done=1";
	                location.href = url;
            	}
            } else {
                $.confirm(m.message,
                function() {
                    history.go( - 1);
                });
            }

        },
        "json");
        });
</script>
{php include wl_template('common/footer');}