{php include wl_template('common/header');}
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="{php echo app_url('store/supervise/platform')}"><span class="icon icon-left"></span>返回</a>
		    <h1 class="title create-actions">{if !empty($name)}{$name}<span style="font-size: x-small;">（点击切换）</span>{else}结算记录{/if}</h1>
		</header>
			<div class="content">
				<div class="buttons-tab">
			    <a href="{php echo app_url('store/supervise/cash',array('type'=>'apply'))}" class="{if $_GPC['type']=='apply'}active{/if} button">提现申请</a>
			    <a href="{php echo app_url('store/supervise/cash',array('type'=>'deling'))}" class="{if $_GPC['type']=='deling'}active{/if} button">处理中</a>
			    <a href="{php echo app_url('store/supervise/cash',array('type'=>'finish'))}" class=" {if $_GPC['type']=='finish'}active{/if} button">已完成</a>
			  </div>
			  {if $_GPC['type']=='apply'}
			  <div class="list-block" style="margin-top: .5rem;">
			    <ul>
			      <li class="item-content">
			        <div class="item-inner">
			          <div class="item-title">订单类型</div>
			          <div class="item-after">{$name}</div>
			        </div>
			      </li>
			      <li class="item-content">
			        <div class="item-inner">
			          <div class="item-title">可结算订单数量</div>
			          <div class="item-after">{$num}单</div>
			        </div>
			      </li>
			      <li class="item-content">
			        <div class="item-inner">
			          <div class="item-title">可结算订单支付总金额</div>
			          <div class="item-after">￥ {$money}</div>
			        </div>
			      </li>
			    </ul>
			  </div>
			  <div class="list-block">
			    <ul>
			      <li class="item-content" id="orderNum" style="display: none;">
			        <div class="item-inner">
			          <div class="item-title">结算单数</div>
			          <div class="item-after"></div>
			        </div>
			      </li>
			      <li class="item-content" id="orderMoney" style="display: none;">
			        <div class="item-inner">
			          <div class="item-title"></div>
			          <div class="item-after"></div>
			        </div>
			      </li>
			      <li class="item-content" id="percent" style="display: none;">
			        <div class="item-inner">
			          <div class="item-title">佣金百分比</div>
			          <div class="item-after">{$s['percent']}%</div>
			        </div>
			      </li>
			      <li class="item-content" id="agetMoney" style="display: none;">
			        <div class="item-inner">
			          <div class="item-title">实得</div>
			          <div class="item-after"></div>
			        </div>
			      </li>
			    </ul>
			  </div>
			  <div class="content-block">
			    <div class="row">
			      <div class="col-50"><a href="#" class="prompt-ok button button-big button-fill button-danger">输入订单数量</a></div>
			      <div class="col-50"><a href="#" class="button button-big button-fill button-success submit">确认提交申请</a></div>
			    </div>
			  </div>
			  <script type="text/javascript">
				var ids = money = num = 0;
				var orderType = "{$orderType}";
				$(document).on('click','.prompt-ok', function () {
			      $.prompt('输入结算订单数量', function (value) {
			      	if(isNaN(value)){$.alert("输入错误");return false;}
			          $.post("{php echo app_url('store/supervise/cash')}",{orderType:orderType,num:value},function(d){
			          	if(!d.errno){
			          		  ids = d.ids;
			          		  money = d.money;
			          		  num = d.num;
			          		  $('#orderNum').find('.item-after').html(d.num+"单");
			         	 	  $('#orderNum').show();
					          $('#orderMoney').find('.item-title').html('结算当前'+d.num+'个订单金额');
					          $('#orderMoney').find('.item-after').html("￥"+d.money);
					          $('#orderMoney').show();
					          $('#percent').show();
					          $('#agetMoney').find('.item-after').html("￥"+d.agetMoney);
					          $('#agetMoney').show();
					          
			          	}
			          },"json");
			      });
			  });
			  $('.submit').click(function(){
			  	if(money > 0 && num > 0){
			  		$.confirm("申请结算："+num+"个订单，"+money+"元？",
			  			function () {
							$.post("{php echo app_url('store/supervise/cash')}",{orderType:orderType,ids:ids,num:num,money:money},function(d){
						          	$.alert(d.message);
						          	location.href = "{php echo app_url('store/supervise/cash',array('type'=>'deling'))}";
						    },"json");
			  			},function () {}
				  	);
			  	}else{
			  		$.alert('请输入订单数量！');
			  	}
			  	
			  });
			  $(document).on('click','.create-actions', function () {
			      var buttons1 = [
			        {
			          text: '请选择',
			          label: true
			        },
			        {
			          text: '抢购结算',
			          bold: true,
			          color: 'danger',
			          onClick: function() {
			          	var url = "{php echo app_url('store/supervise/cash',array('type'=>'apply','orderType'=>'rush'))}";
			            location.href = url;
			          }
			        },
			        {
			          text: '超级券结算',
			          onClick: function() {
			            var url = "{php echo app_url('store/supervise/cash',array('type'=>'apply','orderType'=>'coupon'))}";
			            location.href = url;
			          }
			        }
			      ];
			      var buttons2 = [
			        {
			          text: '取消',
			          bg: 'danger'
			        }
			      ];
			      var groups = [buttons1, buttons2];
			      $.actions(groups);
			  });
			</script>
			{/if}
			{if $_GPC['type']=='deling' || $_GPC['type']=='finish'}
				{loop $record $r}
				<div class="list-block" style="margin-top: .5rem;">
				    <ul>
				      <li class="item-content">
				        <div class="item-inner">
				          <div class="item-title">处理状态</div>
				          <div class="item-after">
				          	{if $r['status']==1}
				          	<a href="#" class="button-fill button-default">代理审核中</a>
							{elseif $r['status']==2}
							<a href="#" class="button-fill button-default">系统审核中</a>
							{elseif $r['status']==3}
							<a href="#" class="button-fill button-info">系统审核通过，待结算</a>
							{elseif $r['status']==4}
							<a href="#" class="button-fill button-warning">已结算给代理</a>
							{elseif $r['status']==5}
							<a href="#" class="button-fill button-success">已结算到商家</a>
				          	{/if}
				          </div>
				        </div>
				      </li>
				      <li class="item-content">
				        <div class="item-inner">
				          <div class="item-title">订单类型</div>
				          <div class="item-after">{if $r['type2']==1}超级券结算{else}抢购结算{/if}</div>
				        </div>
				      </li>
				      <li class="item-content">
				        <div class="item-inner">
				          <div class="item-title">结算订单数</div>
				          <div class="item-after">{$r['ordernum']}单</div>
				        </div>
				      </li>
				      <li class="item-content">
				        <div class="item-inner">
				          <div class="item-title">结算金额</div>
				          <div class="item-after">￥ {$r['sapplymoney']}</div>
				        </div>
				      </li>
				    </ul>
				  </div>
				{/loop}
				{if empty($record)}
				<div class="common-no-con"><img src="{URL_APP_IMAGE}order_no_con.png" alt=""><p>暂时没有{if $_GPC['type']=='deling'}处理中{else}已完成{/if}申请</p></div>
				{/if}
			{/if}
			
		</div>
	</div>
</div>

{php include wl_template('common/footer');}