{php include wl_template('common/header');}
<style type="text/css">
	.weui-uploader__file img{height:100%;width: 100%;}
</style>
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="javascript:history.go(-1)"><span class="icon icon-left"></span>返回</a>
		    <h1 class="title">创建{$name}商品</h1>
		</header>
		<div class="content native-scroll">
			<form action="{php echo app_url('store/supervise/createGoodsStep3')}"  enctype="multipart/form-data" id="form" method="post">
			<div class="weui-cells__title">请填写抢购信息</div>
		    <div class="list-block">
		        <ul>
		        	{if $active}
		        	<li>
		            	<div class="weui-cell">
			                <div class="weui-cell__bd">
			                    <div class="weui-uploader">
			                        <div class="weui-uploader__hd">
			                            <p class="weui-uploader__title">商品图片【最多上传4张，1为首页图片】</p>
			                            <div class="weui-uploader__info"></div>
			                        </div>
			                        <div class="weui-uploader__bd">
			                            <ul class="weui-uploader__files upload_images_views" style="margin-left: -45px;">
			                            	{if !empty($goods['thumb'])}
			                            	<li class="weui-uploader__file">
			                            		<img src="{php echo tomedia($goods['thumb'])}">
			                            		<input type="hidden" name="images[]"  value="{$goods['thumb']}" />
			                            	</li>
			                            	{/if}
			                            	{if !empty($goods['thumbs'])}
			                            	{loop $goods['thumbs'] $thumb}
			                            	<li class="weui-uploader__file">
			                            		<img src="{php echo tomedia($thumb)}">
			                            		<input type="hidden" name="images[]"  value="{$thumb}" />
			                            	</li>
			                            	{/loop}
			                            	{/if}
			                            </ul>
			                            <div class="weui-uploader__input-box upload_btn">
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">商品名称</div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入商品名称" name="goods[name]" value="{$goods['name']}" required="required"></div>
		                    </div>
		                </div>
		            </li>
		            <li class="align-top">
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">商品描述</div>
		                        <div class="item-input">
		                            <textarea placeholder="请输入商品描述" name="goods[describe]" value="">{$goods['describe']}</textarea>
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">原价</div>
		                        <div class="item-input">
		                            <input class="weui-input" type="number"  placeholder="单价" name="goods[oldprice]" value="{$goods['oldprice']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		             <!--<li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">库存</div>
		                        <div class="item-input">
		                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="库存" name="goods[stock]" value="{$goods['stock']}">
		                        </div>
		                    </div>
		                </div>
		            </li>-->
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">单位</div>
		                        <div class="item-input">
		                            <input class="weui-input" type="text"  placeholder="单位" name="goods[unit]" value="{$goods['unit']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		        	{/if}
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">抢购价格</div>
		                        <div class="item-input">
		                            <input class="weui-input" type="number"  placeholder="抢购价格" name="goods[price]" value="{$goods['price']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">VIP价格</div>
		                        <div class="item-input">
		                            <input class="weui-input" type="number"  placeholder="VIP价格" name="goods[vipprice]" value="{$goods['vipprice']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li class="align-top">
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">数量</div>
		                        <div class="item-input">
		                             <input class="weui-input" type="number" placeholder="商品数量" name="goods[num]" value="{$goods['num']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">单人限购</div>
		                        <div class="item-input">
		                            <input type="number" placeholder="请输入本次活动单人限购" name="goods[op_one_limit]" value="{$goods['op_one_limit']}" required="required"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
			            <div class="item-content">
			              <div class="item-inner">
			                <div class="item-title label">活动开始时间</div>
			                <div class="item-input">
			                  <input type="text" placeholder="" id="datetime-picker1" name="goods[starttime]" value="{php echo date('Y-m-d H:i',$goods[starttime])}" readonly="">
			                </div>
			              </div>
			            </div>
			        </li>
			        <li>
			            <div class="item-content">
			              <div class="item-inner">
			                <div class="item-title label">活动结束时间</div>
			                <div class="item-input">
			                  <input type="text" placeholder="" id="datetime-picker2" name="goods[endtime]" value="{php echo date('Y-m-d H:i',$goods[endtime])}" readonly="">
			                </div>
			              </div>
			            </div>
			        </li>
			        <li>
			            <div class="item-content">
			              <div class="item-inner">
			                <div class="item-title label">消费截至时间</div>
			                <div class="item-input">
			                  <input type="text" placeholder="" id="datetime-picker3" name="goods[cutofftime]" value="{php echo date('Y-m-d H:i',$goods[cutofftime])}" readonly="">
			                </div>
			              </div>
			            </div>
			        </li>
		        </ul>
			    <input type="hidden" name="token" value="{$_W['token']}"/>
			    <input type="hidden" name="id" value="{$_GPC['id']}"  />
			    <input type="hidden" name="func" value="{$_GPC['func']}"  />
			    <input type="hidden" name="goodsid" value="{$_GPC['goodsid']}"  />
			    <div class="weui-btn-area">
		            <a class="weui-btn weui-btn_primary external" href="javascript:fun();">确认提交</a>
		        </div>
	        </form>
		</div>
	</div>
</div>

<script type="text/javascript">
function fun(){
	$('#form').submit()
}
$("#datetime-picker1").datetimePicker();
$("#datetime-picker2").datetimePicker();
$("#datetime-picker3").datetimePicker();
common.uploadImageByWxJs(4);
common.deleteImagesInWxJs();
</script>
{php include wl_template('common/footer');}