{php include wl_template('common/header');}
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="{php echo app_url('store/supervise/platform')}"><span class="icon icon-left"></span>返回</a>
		    <h1 class="title">核销工具</h1>
		</header>
		<div class="content native-scroll">
		    <div class="weui-cells__title">二维码核销</div>
		    <div class="list-block">
		        <ul>
		            <li>
		            	<a href="javascript:wx.scanQRCode();" class="item-link item-content external">
				            <div class="item-inner">
				              <div class="item-title">扫一扫</div>
				            </div>
				        </a>
			        </li>
		        </ul>
		    </div>
		    <div class="weui-cells__title">验证码核销</div>
		    <div class="list-block">
		        <ul>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">验证码类型</div>
		                        <div class="item-input">
		                            <select id="veriftype" onchange="chang(this)">
					                  <option value="">选择验证码类型</option>
					                  <option value="1">抢购验证码</option>
					                  <option value="2">五折卡验证码</option>
					                  <option value="3">卡券消费码</option>
					                </select>
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">验证码</div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入验证码" id="verifcode" value="">
		                        </div>
		                    </div>
		                </div>
		                <div class="item-content couponnum" style="display: none;">
		                	<div class="item-inner">
		                        <div class="item-title label">核销次数</div>
		                        <div class="item-input">
		                            <input type="tel" placeholder="请输入核销次数" id="couponnum" value="1">
		                        </div>
		                    </div>
		                </div>    
		            </li>
		        </ul>
		    </div>
		    <div class="weui-btn-area">
	            <a class="weui-btn weui-btn_primary external" href="javascript:;" id="showTooltips">确定</a>
	        </div>
		</div>
	</div>
</div>
<script>
$(document).on('click','#showTooltips',function () {
	var verifcode = $('#verifcode').val();
	var veriftype = $('#veriftype').val();
	if (veriftype == 3) {
		var couponnum = $('#couponnum').val();
		if(!couponnum){
	 		$.toast("请输出优惠券核销次数");
	 		return false;
		}
	}
	if(!veriftype){
	 	$.toast("请选择验证码类型");
	 	return false;
	}
	if(!verifcode){
	 	$.toast("请输入验证码");
	 	return false;
	}

	$.post("{php echo app_url('store/supervise/verifcode')}",{verifcode:verifcode,veriftype:veriftype,couponnum:couponnum},function(d){
		if(d.result == 1){
			$.toast("核销成功");
		}else if(d.result == 2){
			$.toast(d.msg);
		}else{
			$.toast("未知错误");
		}
	},"json");
});
function chang(asd){
	var op = $(asd).val();
	if (op == 3) {
		$('.couponnum').show();
	}else{
		$('.couponnum').hide();
	}
}
</script>
{php include wl_template('common/footer');}